<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <div class="f-head"> &copy; QuillQuest</div>
            <a href="https://github.com/sristy17/Quill-Quest"> <i class="fa-brands fa-github"></i></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/sristy-paul"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-link">
            <a href="/Privacy">Privacy</a>
        &nbsp;
            <a href="/Terms">Terms</a>
        </div>
    </div>
</footer>